$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-grey-light: #ccc;
$color-grey-light-2: #ddd;
$color-grey-light-3: #eee;
$color-white: #fff;
$color-black: #000;
$color-blue: #5643fa;
$color-blue-light: #2998ff;
$color-yellow: #ffb900;
$color-orange: #ff7730;
$color-red: #e43a3a;
$color-red-light: #e76868;
