.slider {
  width: 50%;
  height: 58rem;
  margin: 0 auto;
  position: relative;
  border: solid $color-primary-dark 2px;
  border-radius: 17px;

  overflow: hidden;

  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 1s;

    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 17px;
    }
  }
}

.slider-2 {
  width: 95%;
  height: 45rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  .slide-2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32rem;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 1s;

    img {
      width: 58%;
      height: 78%;
      background-size: cover;
      border-radius: 17px;
      margin-top: 8rem;
    }
  }
}

.slider-3 {
  width: 95%;
  height: 45rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;

  .slide-3 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32rem;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 1s;

    img {
      width: 58%;
      height: 78%;
      background-size: cover;
      border-radius: 17px;
      margin-top: 8rem;
    }
  }
}

.slider-4 {
  width: 95%;
  height: 45rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;

  .slide-4 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32rem;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 1s;

    img {
      width: 58%;
      height: 78%;
      background-size: cover;
      border-radius: 17px;
      margin-top: 8rem;
    }
  }
}

.slider-5 {
  width: 95%;
  height: 45rem;
  margin: 0 auto;
  position: relative;

  overflow: hidden;

  .slide-5 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 32rem;
    border: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: transform 1s;

    img {
      width: 58%;
      height: 78%;
      background-size: cover;
      border-radius: 17px;
      margin-top: 8rem;
    }
  }
}
